* {
  background-color: rgb(23 14 36);
}
.songs-card {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.card {
  color: white;
  padding: 0px 20px;
}
.mg-t8{
  margin-top: 8px !important;
}
.name {
  font-size: 20px;
}
.singer {
  color: #8b8791;
  font-size: 12px;
}
.date {
  color: #8b8791;
  font-size: 12px;
}
.title {
  height: 60px;
  margin-top: 40px;
  margin-left: 40px;
}
h2 {
  font-size: 12px;
  font-weight: 300;
  color: white;
  border-radius: 12px;
  padding: 4px 20px;
  float: left;
}
h2:hover {
  cursor: pointer;
  opacity: 0.9;
}
.songs {
  margin-left: 2%;
  border: transparent 1px solid;
  background-color: rgb(155 77 224);
}
.album {
  margin-left: 12px;
  border: rgb(47 39 58) 1px solid;
  background-color: rgb(23 14 36);
}
.item {
  display: flex;
  flex-direction: row;
  margin: 8px 4%;
  float: left;
  padding: 8px 20px;
}
.item:hover {
  filter: brightness(250%);
  opacity: 0.7;
  cursor: pointer;
}

.text-gray {
  margin: 4px 0px;
  color: #8b8791;
  font-size: 12px;
}
.love-tittle{
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 700 ;
}
.love-tittle:hover{
  cursor: pointer;
  color: #9b4de0 ;
}
.love-songs {
    grid-gap: 2%;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
}
.love-card {
  color: white;
}
.songLove-img:hover{
  opacity: 0.7;
  cursor: pointer;
}
.love-des {
  color: #8b8791 !important;
}
.container{
    color: white;
    margin-top: 40px;
    margin-left: 40px;
}
.heading{
    margin-left: 20px;
    display: flex;
    font-size: 24px;
}
.album-content{
  text-align: start;
}
.love-title{
    font-size: 16px;
}
.cover{
  width: 84px;
  height: 84px;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 12px;
}
.songLove-img{
  width: 240px;
  height: 240px;
}