.form-container{
    display: flex;
    flex-direction: column;
    margin-top: 13%;
    width: 30%;
    min-height: 15%;
    margin-left: 35%;
    border-radius: 12px;
    border: 2px solid black;
}
.form-header{
    background-color: rgb(205 205 205);
    margin: 0px;
    border-radius: 12px 12px 0px 0px;
    color: black;
    font-weight: 400;
    font-size: 28px;
    padding: 8px;
}
.input{
    font-size: 24px;
    width: 80%;
}
.mg-16{
    margin: 16px;
}
hr{
    margin: 0px;
    border-width: 2px rgb(24 24 24);
}
.sign-in-btn{
    background-color: rgb(72 100 199);
    color: white;
    font-size: 20px;
    padding: 0x 20px;
    border-radius: 12px;
}
.welcome-container{
    color: black;
    font-size: 24px;
}
.logout-btn{
    margin: 12px;
    padding: 8px;
}
.login-notice{
    margin-top: 12px;
}