.phone-book-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  margin: auto;
  width: 500px;
  flex-direction: column;
}

.search-bar,
.header {
  display: flex;
}

.phone-item {
  background-color: rgb(217, 217, 217);
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  margin: 0.5rem auto;
}
