.chart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px   ;
    width: 740px;
    height: 200px;
    background-color:#E1CAE4;
    margin-left: 30px;
    border-radius: 12px;
  }
.bar-container{
    margin-top: 16px;
    margin-bottom: 8px;
    height: 120px;
    width: 24px;
    background-color: #BAA5ED;
    border-radius: 12px;
    border: 2px solid #000000;
  
  
    


}
.bar-percent{
  border-radius: 10px;
  border-style: none;
  transform: translateY(237%);
  width: 102%;
  background-color: #3D15A9;
  height: 20% !important;

}
