.chart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px   ;
    width: 740px;
    height: 200px;
    background-color:#E1CAE4;
    margin-left: 30px;
    border-radius: 12px;
  }
.bar-container{
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
    margin-top: 16px;
    margin-bottom: 8px;
    height: 120px;
    width: 24px;
    background-color: #BAA5ED;
    border-radius: 12px;
    border: 2px solid #000000;

}
.bar-percent{
  width: 102%;
  background-color: #3D15A9;
  border-radius: 10px;
}
.month-index{
  margin-top: 100px;
}
.top{
border-radius: 12px;
}